.stats-box {
  width: 75%;
  padding: 5px;
  border-radius: 2vh;
  color: white;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  overflow-x: unset;
}

.row {
  color: white;
  display: flex;
  justify-content: space-around;
}

#ubi-logo {
  height: 1rem;
  width: 1.2rem;
  vertical-align: middle
}

#eth-logo {
  height: 1rem;
  width: 1.2rem;
  vertical-align: middle
}